body {
    font-family: Arial, sans-serif;
    font-size: 15px;
    height: 100vh;     
    margin-top: 120px;
}
h1{
    font-size: 25px;
    margin: 20px 0px 0px 0px;
    color: darkcyan;
}
h2{
    font-size: 25px;
    margin: 0px 0px 0px 0px;
}
#header1{
    position: fixed;
    top: 0px;
    z-index: 1000;
    background-color: paleturquoise;
    width: 100%;
}
#header2{
    display: flex;
    justify-content: left;
    align-items: center;
}
div{
    display: block;
    margin: 1x 1px;
    padding: 1px;
}
button{
    height: 40px;
    font-size: 20px;
    color: white;
    background-color: darkslategray;
}
select{
    height: 40px;
    font-size: 17px;
    color: white;
    background-color: darkslategray;
}
table {
    width: 100%;
    border-collapse: collapse;
}
input::placeholder{
    font-size: 20px;

}
table, th, td {
    border: 1px solid #ccc;
    height: 30px;
}
th, td {
    padding: 5px;
}
input{
    height: 30px;
}
input[type="checkbox"]{
    height: 30px;
    width: 30px;
}
label{
    padding: 10px;
    cursor: pointer;
}
.Button{
    margin: 0px 0px 0px 10px;
    border: 2px;
    border-color: black;
    border-radius: 5px;
}
.error {
    border-color: #ff243a;
}
#title{
    display: flex;
    justify-content: left;
    align-items: center;
}
#nextMonth{
    background: url('https://warashisan.github.io/Resource/Image/YajirushiRight.png') no-repeat center;
    background-size: contain;
    width: 50px;
    height: 50px;
    border: none;
    cursor: pointer;
}
#backMonth{
    background: url('https://warashisan.github.io/Resource/Image/YajirushiLeft.png') no-repeat center;
    background-size: contain;
    width: 50px;
    height: 50px;
    border: none;
    cursor: pointer;
}
#currentDate{
    display: flex;
    justify-content: left;
    align-items: center;
}
/*popup template design*/
.popup-background{
    /*position size*/
    position: fixed;
    z-index : 100;
    top : 0;
    left : 0;
    height : 100vh;
    width : 100vw;

    /*design*/
    background-color: gray;
    opacity : 0.5
}
.popup{
    /*position size*/
    --height : 60%;
    --width : 60%;
    z-index : 101;
    position: fixed;
    top : calc(50vh - calc(var(--height) / 2));
    left : calc(50vw - calc(var(--width) / 2));
    height : var(--height);
    width : var(--width);

    /*design*/
    overflow: hidden;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 3px 1px gray;
}
.popup > .close-button{
    /*position size*/
    --size : 20px;
    position:absolute;
    top : calc(var(--size)/3);
    left : calc(90%);/*css variables are available in children*/
    height : var(--size);
    width : var(--size);

    /*design*/
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color : gray;
    font-size: var(--size);
    border-radius: calc(var(--size)/5);
}
.popup > .close-button:hover{
    /*design*/
    background-color: red;
    color : white;
}
.popup > .content{
    padding: 10px;
    text-align: center;
}
/*hide popup*/
.popup-flag{
    display:none;
}
.popup-flag:not(:checked) + .popup-background{
    display:none;
}
.popup-flag:not(:checked) + * + .popup{
    display:none;
}
#TemplateTable{
    margin-top: 10px;
}

